jupyter==1.0.0
shapely==2.1.2
openpyxl==3.1.5
requests==2.32.3
scipy==1.16.1
seaborn==0.13.2
beautifulsoup4==4.12.3
statsmodels==0.14.5
openrouteservice==2.3.3
folium==0.17.0
scikit-learn==1.7.2
numpy==2.3.5
opencv-python==4.10.0.84
nltk==3.8.1
#wordcloud==1.9.3
#tensorflow==2.17.0
#open3d==0.18.0
flask==3.0.3
flask_wtf==1.2.1
joblib==1.4.2
dash==2.17.1
fear-and-greed==0.4
prettytable
#yfinance==0.2.66
ollama==0.6.0
matplotlib>=3.9.2,<3.11
pandas>=2.3.3